# Homework 4 - pandas (Saw Sudta)
### due 03/10/2021, to be turned on github  

<br>

Use this notebook and prompts to complete the homework. Throughout there will be hints and code provided to

### Things you will need:
- Install os, NumPy, pandas
- states_covid.csv
- Bloom_etal_2018_Reduced_Dataset.csv
- logfiles.tgz (or some other multiple file dataset)

**hint:** change your working directory to a directory for just this homework. Edit path below and run.

In [3]:
hw_dir = "/Users/chanchanoksudta/Desktop/DataScience2/Data_Science_For_Biology_II/Part.II_PythonProgramming/pandas"

In [95]:
cd $hw_dir

/Users/chanchanoksudta/Desktop/DataScience2/Data_Science_For_Biology_II/Part.II_PythonProgramming/pandas

**import packages & check required datasets**

In [7]:
import os
import numpy as np
import pandas as pd

In [8]:
assert os.path.exists(os.path.join(hw_dir,'states_covid.csv')), 'states_covid.csv does not exist'

In [9]:
assert os.path.exists(os.path.join(hw_dir,'Bloom_etal_2018_Reduced_Dataset.csv')), 'Bloom_etal_2018_Reduced_Dataset.csv does not exist'

In [12]:
!tar -xvzf logfiles.tgz
log_dir = os.path.join(hw_dir,'logfiles')
assert os.path.exists(log_dir), 'log_dir does not exist'

x logfiles/
x logfiles/1901302136_H15_D_14.txt.txt
x logfiles/1901302243_H5_S_14.txt.txt
x logfiles/1901302110_H13_S_14.txt.txt
x logfiles/1901302121_H8_S_14.txt.txt
x logfiles/1901302228_H4_D_14.txt.txt
x logfiles/1901302223_H16_S_14.txt.txt
x logfiles/1901302117_H15_S_14.txt.txt
x logfiles/1901302202_H16_S_14.txt.txt
x logfiles/1901302115_H1_S_14.txt.txt
x logfiles/1901302158_H9_S_14.txt.txt
x logfiles/1901302237_H10_D_14.txt.txt
x logfiles/1901302118_H1_D_14.txt.txt
x logfiles/1901302120_H5_D_14.txt.txt
x logfiles/1901302134_H13_D_14.txt.txt
x logfiles/1901302109_H7_S_14.txt.txt
x logfiles/1901302236_H17_D_14.txt.txt
x logfiles/1901302141_H19_S_14.txt.txt
x logfiles/1901302146_H14_D_14.txt.txt
x logfiles/1901302137_H18_S_14.txt.txt
x logfiles/1901302108_H7_D_14.txt.txt
x logfiles/1901302240_H8_D_14.txt.txt
x logfiles/1901302212_H9_D_14.txt.txt
x logfiles/1901302214_H19_D_14.txt.txt
x logfiles/1901302122_H3_D_14.txt.txt
x logfiles/1901302138_H11_D_14.txt.txt
x logfiles/1901302150_H14_S_14.txt.txt
x logfiles/1901302194_H10_S_14.txt.txt
x logfiles/1901302217_H18_D_14.txt.txt
x logfiles/1901302227_H11_S_14.txt.txt
x logfiles/1901302235_H6_S_14.txt.txt
x logfiles/1901302203_H7_S_14.txt.txt
x logfiles/1901302241_H2_D_14.txt.txt
x logfiles/1901302225_H12_D_14.txt.txt
x logfiles/1901302119_H4_S_14.txt.txt
x logfiles/1901302224_H3_S_14.txt.txt
x logfiles/1901302157_H12_S_14.txt.txt

### Task 1 - DataFrame manipulation

Using **states_covid.csv**, we are going to read the data in as a DataFrame to manipulate, subset, and filter in various ways. 

**1.1 Read in states_covid.csv with date as a "date" dtype, and only columns consisting of the hospitalization (4 col), ICU (2 col), and Ventilators (2 col)**

In [32]:
#Read the states_covid.csv data
state_covid_df = pd.read_csv('states_covid.csv') 
#Subset the data. Here, I include 'state' column in order to be able to use the same subset data to answer following questions
state_covid_sub_df = pd.read_csv('states_covid.csv',usecols=['date','state','hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
       'inIcuCurrently', 'onVentilatorCumulative', 'onVentilatorCurrently'],parse_dates=['date'],infer_datetime_format=True)
#Print the first few rows of the data
state_covid_sub_df.head()

,date,state,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,inIcuCurrently,onVentilatorCumulative,onVentilatorCurrently
0,2021-02-23,AK,1260.0,1260.0,38.0,9,NaN,NaN,NaN,5.0
1,2021-02-23,AL,45250.0,45250.0,762.0,122,2632.0,NaN,1497.0,NaN
2,2021-02-23,AR,14617.0,14617.0,545.0,47,NaN,204.0,1505.0,99.0
3,2021-02-23,AS,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2021-02-23,AZ,57072.0,57072.0,1515.0,78,NaN,447.0,NaN,266.0

**1.2 List, in order, the 5 states with the highest numbers of people *currently* hospitalized, in the ICU, and on ventilation**  
hint: sort_values, uniqie

In [54]:
#Sort dataframe 
#Use 'state_covid_sub_df'
#The 5 states with the highest numbers of people currently hospitalized
covid_df_state = state_covid_sub_df.groupby('state',as_index=False).agg(['sum'])
covid_df_state.head()
#join multiindex column name with actual column name
covid_df_state.columns = covid_df_state.columns.map('_'.join)
covid_df_state.head()
#list states 
covid_df_state.info()  #check column names
covid_df_state.sort_values('hospitalizedCurrently_sum',ascending=False,inplace=True)
covid_df_state.head()
### Answer: the first 5 states with the highest numbers of people currently hostpitalized are
### CA, TX,NY, FL, and IL, respectively.

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, AK to WY
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   hospitalized_sum            56 non-null     float64
 1   hospitalizedCumulative_sum  56 non-null     float64
 2   hospitalizedCurrently_sum   56 non-null     float64
 3   hospitalizedIncrease_sum    56 non-null     int64
 4   inIcuCumulative_sum         56 non-null     float64
 5   inIcuCurrently_sum          56 non-null     float64
 6   onVentilatorCumulative_sum  56 non-null     float64
 7   onVentilatorCurrently_sum   56 non-null     float64
dtypes: float64(7), int64(1)
memory usage: 3.9+ KB

,hospitalized_sum,hospitalizedCumulative_sum,hospitalizedCurrently_sum,hospitalizedIncrease_sum,inIcuCumulative_sum,inIcuCurrently_sum,onVentilatorCumulative_sum,onVentilatorCurrently_sum
state,,,,,,,,
NY,28486669.0,28486669.0,1550375.0,89995,0.0,370858.0,0.0,131652.0
NJ,9224730.0,9224730.0,788682.0,63190,0.0,171194.0,0.0,120206.0
IL,0.0,0.0,957999.0,0,0.0,221916.0,0.0,118938.0
AZ,6734481.0,6734481.0,626423.0,57068,0.0,168356.0,0.0,109908.0
PA,7233.0,7233.0,693646.0,0,0.0,94977.0,0.0,100077.0

In [55]:
#in the ICU
covid_df_state.sort_values('inIcuCurrently_sum',ascending=False,inplace=True)
covid_df_state.head()
### Answer: the first 5 states with the highest numbers of people currently in the ICU are
### CA, TX, NY, IL, and NJ, respectively.

,hospitalized_sum,hospitalizedCumulative_sum,hospitalizedCurrently_sum,hospitalizedIncrease_sum,inIcuCumulative_sum,inIcuCurrently_sum,onVentilatorCumulative_sum,onVentilatorCurrently_sum
state,,,,,,,,
CA,0.0,0.0,2588299.0,0,0.0,650791.0,0.0,0.0
TX,0.0,0.0,2062892.0,0,0.0,493582.0,0.0,0.0
NY,28486669.0,28486669.0,1550375.0,89995,0.0,370858.0,0.0,131652.0
IL,0.0,0.0,957999.0,0,0.0,221916.0,0.0,118938.0
NJ,9224730.0,9224730.0,788682.0,63190,0.0,171194.0,0.0,120206.0

In [56]:
#on ventilation
covid_df_state.sort_values('onVentilatorCurrently_sum',ascending=False,inplace=True)
covid_df_state.head()
### Answer: the first 5 states with the highest numbers of people currently on ventilation are
### NY, NJ, IL, AZ, and PA, respectively.

,hospitalized_sum,hospitalizedCumulative_sum,hospitalizedCurrently_sum,hospitalizedIncrease_sum,inIcuCumulative_sum,inIcuCurrently_sum,onVentilatorCumulative_sum,onVentilatorCurrently_sum
state,,,,,,,,
NY,28486669.0,28486669.0,1550375.0,89995,0.0,370858.0,0.0,131652.0
NJ,9224730.0,9224730.0,788682.0,63190,0.0,171194.0,0.0,120206.0
IL,0.0,0.0,957999.0,0,0.0,221916.0,0.0,118938.0
AZ,6734481.0,6734481.0,626423.0,57068,0.0,168356.0,0.0,109908.0
PA,7233.0,7233.0,693646.0,0,0.0,94977.0,0.0,100077.0

**1.3 Identify the date for each state where the cumulative hosipitalized was greater than or equal to 1000**

In [61]:
#Recall column names
state_covid_sub_df.info()
#Identify the date where the cumulative hosipitalized was greater than or equal to 1000
state_covid_sub_df[(state_covid_sub_df.hospitalizedCumulative >= 1000)]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20108 entries, 2637 to 20107
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    20108 non-null  datetime64[ns]
 1   state                   20108 non-null  object
 2   hospitalized            12435 non-null  float64
 3   hospitalizedCumulative  12435 non-null  float64
 4   hospitalizedCurrently   16702 non-null  float64
 5   hospitalizedIncrease    20108 non-null  int64
 6   inIcuCumulative         3648 non-null   float64
 7   inIcuCurrently          11030 non-null  float64
 8   onVentilatorCumulative  1245 non-null   float64
 9   onVentilatorCurrently   8738 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(1)
memory usage: 2.3+ MB

,date,state,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,inIcuCurrently,onVentilatorCumulative,onVentilatorCurrently
17733,2020-04-13,NY,52936.0,52936.0,18825.0,2017,NaN,5156.0,NaN,NaN
17789,2020-04-12,NY,50919.0,50919.0,18707.0,2622,NaN,5198.0,NaN,NaN
17677,2020-04-14,NY,54653.0,54653.0,18697.0,1717,NaN,5225.0,NaN,NaN
17845,2020-04-11,NY,48297.0,48297.0,18654.0,2529,NaN,5009.0,NaN,NaN
17901,2020-04-10,NY,45768.0,45768.0,18569.0,2916,NaN,4908.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
18241,2020-04-04,PA,1004.0,1004.0,NaN,152,NaN,NaN,NaN,NaN
18266,2020-04-03,FL,1287.0,1287.0,NaN,164,NaN,NaN,NaN,NaN
18267,2020-04-03,GA,1158.0,1158.0,NaN,102,NaN,NaN,NaN,NaN
18322,2020-04-02,FL,1123.0,1123.0,NaN,174,NaN,NaN,NaN,NaN
18323,2020-04-02,GA,1056.0,1056.0,NaN,104,NaN,NaN,NaN,NaN

## Task 2 - DataFrame summarizing

Using **Bloom_etal_2018_Reduced_Dataset.csv**, we are going to do more dataframe manipulation and subsetting and summarizing  

**2.1 Read in Bloom_etal_2018_Reduced_Dataset.csv and create two new columns ('genus','species') that consists of the column *taxa* split at the underscore. Print out the head of this new dataframe and the number of unique genera**   

*hint:* pd.str.split(,expand=True)

for example:

| taxa | genus | species 
| :------ | :-- | :--- 
| Alosa_alabamae | Alosa | alabamae

In [84]:
#Read the data frame 'Bloom_etal_2018_Reduced_Dataset.csv'
Bloom = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv')
#Print the entire data set to see overal data
Bloom

#split taxa by '_' and store the fraction of the string in two new columns ('genus','species')
Bloom[['genus','species']] = Bloom.taxa.str.split("_",1, expand=True) 
## note'1' in str.split indicates that split will happen once to separte genus and species
## I added this maxsplit because some taxa (name) has more than one '_'.
Bloom.head()

,taxa,logbodysize,trophic_position,Reg,genus,species
0,Alosa_alabamae,1.707570,0.431364,diadromous,Alosa,alabamae
1,Alosa_alosa,1.778151,0.556303,diadromous,Alosa,alosa
2,Alosa_fallax,1.778151,0.556303,diadromous,Alosa,fallax
3,Alosa_mediocris,1.778151,0.612784,diadromous,Alosa,mediocris
4,Alosa_pseudoharengus,1.602060,0.544068,diadromous,Alosa,pseudoharengus

In [83]:
#Number of unique genera 
len(Bloom.genus.unique())

34

**2.2 Create a new dataframe with the mean *logbodysize* and *trophicposition* of each genera. Sort this data frame by the largest body size. Print the head of this dataframe. Which genera is the smallest and largest? What is the trophic position of the smallest and largest?**

In [113]:
#Create a new data frame with the mean ...
#create a new dataframe that has only genus, logbodysize, and trophic_position
new_df = Bloom[['genus','logbodysize','trophic_position']].copy()
#find the means using .mean()
new_df = new_df.groupby('genus').mean()
new_df
#sort the dataframe by the largest body size
#sort from largest to smallest size
new_df.sort_values('logbodysize',ascending=False,inplace=True)
new_df.head()

#Answer: Tenualosa is the largest, with the trophic position of 0.4624.

            logbodysize  trophic_position
genus
Tenualosa      1.778151          0.462398
Alosa          1.739062          0.540815
Coilia         1.544068          0.477121
Ethmalosa      1.544068          0.397940
Potamalosa     1.505150          0.518514

In [114]:
#sort the dataframe by the smallest size
new_df.sort_values('logbodysize',ascending=True,inplace=True)
new_df.head()

#Answer: Amazonsprattus is the smallest, with the trophic position of 0.5315

                logbodysize  trophic_position
genus
Amazonsprattus     0.301030          0.531479
Sundasalanx        0.447158          0.491362
Sierrathrissa      0.477121          0.491362
Clupeichthys       0.602060          0.477121
Sauvagella         0.672098          0.491362

## Task 3 - Read in muliple files to a dictionary and make a DataFrame

### This is not an easy excersize. You will have some example code to start but the rest is up to you. You have done all these parts before so should just be linking them together

Using **logfiles**: we are going to do read in each file, get some data, append it to a dictionary to later make into a dataframe. 

First step is to find the necessary files. The number of files in the log files is 36, make sure you have that many as well

In [89]:
!ls -l logfiles/*txt | wc -l

      36

In [99]:
cd $hw_dir

/Users/chanchanoksudta/Desktop/DataScience2/Data_Science_For_Biology_II/Part.II_PythonProgramming/pandas

In [101]:
logfiles = !find ./logfiles -name "*txt" #unix command to find files
logfiles = [os.path.abspath(x) for x in logfiles] #this finds the full path to the file
print(logfiles[0])

/Users/chanchanoksudta/Desktop/DataScience2/Data_Science_For_Biology_II/Part.II_PythonProgramming/pandas/logfiles/1901302235_H6_S_14.txt.txt

In [102]:
assert(len(logfiles)==36), 'Do not have correct number of logfiles'

### Getting a little tricky here

Read in each of the logfiles, for each file extract:
- minimum temperature
- maximum temperature
- date of minimum temp 
- date of maximum temp 
- mean temp for each file. 

This data should all be appended for a dictionary within a for loop:    
Key should be the file name without the path or .txt extension  
Values should be (minTemp,maxTemp,minDate,maxDate,meanTemp)

I recommend making this work for one file first, then putting the rest in a for loop to do the rest.  

Below is an example of how to read in one file

*hint:* do not read date in as date object

In [103]:
### set up data frame as you read in each file
infile = pd.read_csv(logfiles[0],sep='\t',engine='python')
infile.columns = ['Index','Date','Time','Temp','Type']
infile = infile[['Date','Time','Temp']]
infile.head()

        Date         Time  Temp
0  9/16/2013   8:00:00 AM  47.9
1  9/16/2013   8:35:00 AM  48.2
2  9/16/2013   9:10:00 AM  48.7
3  9/16/2013   9:45:00 AM  49.4
4  9/16/2013  10:20:00 AM  50.3

Do everything in steps, make sure it works. Calculate summaries with this one infile:

`minTemp =   
maxTemp =  
minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()[0] #use this for minDate,maxDate  
maxDate =   
meanTemp =   `

To get you started, I suggest writing some dummy code in plain words to help outline your for loop:

In [ ]:
logfiles_dict = {}  #empty dictionary
for f in logfiles:  
    #assign a file name to a key (how?)
        #Key is the file name without the path or .txt extension
        
    #do something 
        #read each data frame at a time,
        #read each column, 
        #and subset only necesary columns 
        #do not read date in as date object  
    #do more something   
        #do calculations here
        #minTemp = infile['Temp'].min()[0]
        #maxTemp = infile['Temp'].max()[0]
        #minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()[0]
        #maxDate = infile['Date'][infile['Temp'] == infile['Temp'].max()].unique()[0]
        #meanTemp = infile['Temp'].mean()[0]
    #make print statements EVERYWHERE  
    #append to dict  
    #blahbahblah

In [118]:
#print logfiles
logfiles[0]

'/Users/chanchanoksudta/Desktop/DataScience2/Data_Science_For_Biology_II/Part.II_PythonProgramming/pandas/logfiles/1901302235_H6_S_14.txt.txt'

In [129]:
#extract file name 
#test a script to remove absolute path and file extension
filename=os.path.basename(logfiles[0])
filename
os.path.splitext(filename)
filename1 = os.path.splitext(filename)[0]
filename1 = str(filename1).replace(".txt","")
filename1

'1901302235_H6_S_14'

In [143]:
#checking if the script works
#read the file
infile = pd.read_csv(logfiles[0],sep='\t',engine='python')
infile.columns = ['Index','Date','Time','Temp','Type']
infile = infile[['Date','Time','Temp']]
infile.head()
#add calcuations and save the new values to the value of the key
minTemp = infile['Temp'].min()
maxTemp = infile['Temp'].max()
minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()
maxDate = infile['Date'][infile['Temp'] == infile['Temp'].max()].unique()
meanTemp = infile['Temp'].mean()
values = [minTemp, maxTemp, minDate, maxDate, meanTemp]

#add key and values to the dictionary
logfiles_dict[key] = values
logfiles_dict
#this works!

{'1901302235_H6_S_14': [21.3,
  65.8,
  array(['12/6/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  35.726191321640705]}

Then do the real code below here. You don't need to turnin your thoughts. Just put it in there as a help reminder. Most people all still do this, no matter how advanced they are

In [159]:
##adding key and value to a dictionary
#an empty dictionary
logfiles_dict = {} 
#for loop should start here
for f in logfiles: 
    #extract file name
    filename=os.path.basename(f)
    #filename
    os.path.splitext(filename)[0]
    filename1 = os.path.splitext(filename)[0]
    filename1 = str(filename1).replace(".txt","")
    filename1
    #key is the file name
    key = filename1
    #read the file
    infile = pd.read_csv(f,sep='\t',engine='python')
    infile.columns = ['Index','Date','Time','Temp','Type']
    infile = infile[['Date','Time','Temp']]
    infile.head()
    #add calcuations and save the new values to the value of the key
    minTemp = infile['Temp'].min()
    maxTemp = infile['Temp'].max()
    minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()
    maxDate = infile['Date'][infile['Temp'] == infile['Temp'].max()].unique()
    meanTemp = infile['Temp'].mean()
    values = [minTemp, maxTemp, minDate, maxDate, meanTemp]
    #add key and values to the dictionary
    logfiles_dict[key] = values
    logfiles_dict.update()  #.update will append data

#print a dictionary
logfiles_dict

{'1901302235_H6_S_14': [21.3,
  65.8,
  array(['12/6/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  35.726191321640705],
 '1901302121_H8_S_14': [17.9,
  73.4,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  34.698865895869396],
 '1901302217_H18_D_14': [21.0,
  82.4,
  array(['10/28/2013'], dtype=object),
  array(['7/26/2014'], dtype=object),
  33.334564066359555],
 '1901302110_H13_S_14': [22.8,
  60.9,
  array(['10/4/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  32.24003248358139],
 '1901302146_H14_D_14': [24.6,
  66.1,
  array(['1/21/2014', '1/22/2014', '1/23/2014'], dtype=object),
  array(['7/13/2014'], dtype=object),
  34.24207513941743],
 '1901302240_H8_D_14': [21.4,
  81.3,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  35.993644598273534],
 '1901302109_H7_S_14': [20.8,
  89.4,
  array(['10/28/2013'], dtype=object),
  array(['7/2/2014'], dtype=object),
  36.524380044018045],
 '1901302150_H14_S_14': [19.4,
  70.5,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  34.403639565600834],
 '1901302141_H19_S_14': [19.4,
  71.8,
  array(['1/23/2014'], dtype=object),
  array(['7/13/2014'], dtype=object),
  39.46768146678488],
 '1901302241_H2_D_14': [25.9,
  69.4,
  array(['11/16/2013'], dtype=object),
  array(['9/15/2013'], dtype=object),
  34.88492985687798],
 '1901302194_H10_S_14': [22.3,
  66.8,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  35.49852380279647],
 '1901302227_H11_S_14': [22.2,
  104.2,
  array(['10/28/2013'], dtype=object),
  array(['7/14/2014'], dtype=object),
  36.21180917431059],
 '1901302136_H15_D_14': [23.0,
  91.4,
  array(['10/28/2013'], dtype=object),
  array(['7/27/2014'], dtype=object),
  35.291187261523454],
 '1901302223_H16_S_14': [25.3,
  63.9,
  array(['10/4/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  35.50903954802164],
 '1901302243_H5_S_14': [21.5,
  68.4,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  35.30480789716791],
 '1901302122_H3_D_14': [27.4,
  64.3,
  array(['11/5/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  37.571647727272186],
 '1901302202_H16_S_14': [20.0,
  65.7,
  array(['2/5/2014'], dtype=object),
  array(['7/13/2014', '7/19/2014'], dtype=object),
  34.28004255631336],
 '1901302236_H17_D_14': [22.3,
  65.0,
  array(['10/28/2013'], dtype=object),
  array(['7/26/2014'], dtype=object),
  35.91733802920407],
 '1901302158_H9_S_14': [21.2,
  71.8,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  35.16926750422685],
 '1901302225_H12_D_14': [22.1,
  63.9,
  array(['10/16/2013'], dtype=object),
  array(['7/14/2014'], dtype=object),
  34.060063559319694],
 '1901302120_H5_D_14': [22.7,
  63.9,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  35.31249201051068],
 '1901302118_H1_D_14': [27.0,
  86.3,
  array(['10/16/2013', '11/18/2013'], dtype=object),
  array(['9/15/2013'], dtype=object),
  35.60352866151906],
 '1901302203_H7_S_14': [21.8,
  63.0,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  32.955576880489446],
 '1901302119_H4_S_14': [20.7,
  73.7,
  array(['10/28/2013'], dtype=object),
  array(['6/30/2014'], dtype=object),
  35.1503267045429],
 '1901302212_H9_D_14': [22.3,
  62.7,
  array(['10/28/2013'], dtype=object),
  array(['7/14/2014'], dtype=object),
  34.514721260770244],
 '1901302108_H7_D_14': [24.9,
  52.2,
  array(['11/5/2013'], dtype=object),
  array(['7/26/2014', '7/27/2014'], dtype=object),
  32.7065771019398],
 '1901302224_H3_S_14': [21.3,
  108.0,
  array(['9/27/2013'], dtype=object),
  array(['6/30/2014'], dtype=object),
  38.74253551136267],
 '1901302237_H10_D_14': [24.4,
  73.2,
  array(['10/28/2013'], dtype=object),
  array(['7/24/2014'], dtype=object),
  35.807603621446034],
 '1901302117_H15_S_14': [23.7,
  67.5,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  34.974126797766935],
 '1901302137_H18_S_14': [20.3,
  62.1,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014', '7/27/2014'], dtype=object),
  33.210540063536214],
 '1901302214_H19_D_14': [21.6,
  69.8,
  array(['1/27/2014'], dtype=object),
  array(['9/2/2014'], dtype=object),
  39.63558869809211],
 '1901302134_H13_D_14': [24.0,
  50.0,
  array(['9/27/2013'], dtype=object),
  array(['7/26/2014'], dtype=object),
  31.98697217907111],
 '1901302157_H12_S_14': [17.8,
  75.8,
  array(['10/28/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  34.58131487889515],
 '1901302138_H11_D_14': [24.6,
  78.6,
  array(['10/28/2013'], dtype=object),
  array(['7/2/2014'], dtype=object),
  35.34067522935687],
 '1901302228_H4_D_14': [23.6,
  64.1,
  array(['11/5/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  34.80269176136048],
 '1901302115_H1_S_14': [23.2,
  79.8,
  array(['10/16/2013'], dtype=object),
  array(['7/13/2014'], dtype=object),
  36.58338660416422]}

In [164]:
#change a dictionary to dataframe
summary_df = pd.DataFrame.from_dict(logfiles_dict)
#assign column numbers based on the order of calculation from the for loop
summary_df.index =['minTemp','maxTemp','minDate','maxDate','meanTemp']
#print the head
summary_df.head()

#I don't linke how the current table is formatted. I want to swap rows and columns
summary_df_t = summary_df.transpose()
summary_df_t.head()

,minTemp,maxTemp,minDate,maxDate,meanTemp
1901302235_H6_S_14,21.3,65.8,[12/6/2013],[7/13/2014],35.7262
1901302121_H8_S_14,17.9,73.4,[10/28/2013],[7/13/2014],34.6989
1901302217_H18_D_14,21,82.4,[10/28/2013],[7/26/2014],33.3346
1901302110_H13_S_14,22.8,60.9,[10/4/2013],[7/13/2014],32.24
1901302146_H14_D_14,24.6,66.1,"[1/21/2014, 1/22/2014, 1/23/2014]",[7/13/2014],34.2421

**Once you have created a DataFrame with all the logfiles, print the head and save it to an outfile using pd.to_csv() as logfiles_df.csv**

In [168]:
#print the head of the new dataframe
summary_df_t.head()
summary_df_t.to_csv('logfiles_df.csv')

#DONE!!!!